h5py==3.9.0
ipython==8.15.0
matplotlib==3.7.3
numpy==1.24.0
pandas==2.1.0
Pillow==10.0.0
scikit-learn==1.3.0
scipy==1.11.2
shap==0.42.1
tensorboard==2.14.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
